body {
    background-image: url(images/background-image.jpg);
    font-family: "Montserrat", sans-serif;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }

  header {
    background-color: #f7f7e8;
    margin: auto;
    width: 50%;
    padding: 1rem;
    margin-top: 0;
    border-radius: 15px 15px 0 0;
  }
  
  header img {
    width: 200px;
    position: absolute;
    top: 60px;
    right: 450px;
    outline: oldlace 1px solid;
    background-color: oldlace;
    padding: 5px;
    padding-bottom: 30px;
  }
  hr {
    margin-top: -15px;
    width: 80px;
    float: left;
    padding: 2px;
    border: none;
    background-color: black;
  }

  .aboutMe {
    background-color: #c7cfb7;
    margin-top: 0;
    margin: auto;
    width: 50%;
    font-family: "Montserrat", sans-serif;
    padding: 1rem;
  }
  
  .aboutMe p {
    margin-top: 0;
  }  
  
.container-education {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50%;
    margin: auto;
    padding: 1rem;
    background-color: #f7f7e8;
  }
  
  .skills li {
  }
  
  .education p {
    font-size: 0.7rem;
    margin-top: -2px;
  }
  
  .languages {
  }

footer {
    width: 50%;
    margin: auto;
    padding: 1rem;
    background-color: #c7cfb7;
    border-radius: 0 0 15px 15px;
    box-shadow: 0 5px 10px black;
  }
  
  footer .by {
    font-size: 0.8rem;
    font-style: italic;
    margin-top: -2px;
  }
  
  footer .footerDescription {
    text-align: center;
    font-size: 0.9rem;

  }
  
  .apps {
    text-align: center;
  }

  footer img {
    width: 9%;
  }

  a {
    outline: none;
    color: black;
    margin: 0 5px;
  }