body {
    background-image: url(images/background-image.jpg);
  
    font-family: "Montserrat", sans-serif;
  }
  
  header {
    background-color: #f7f7e8;
    margin: auto;
    width: 50%;
    padding: 1rem;
    margin-top: 30px;
    border-radius: 15px 15px 0 0;
  }
  
  header img {
    width: 200px;
    position: absolute;
    top: 60px;
    right: 450px;
    outline: oldlace 1px solid;
    background-color: oldlace;
    padding: 5px;
    padding-bottom: 30px;
  }
  hr {
    margin-top: -15px;
    width: 80px;
    float: left;
    padding: 2px;
    border: none;
    background-color: black;
  }

  .aboutMe {
    background-color: #c7cfb7;
    margin-top: 0;
    margin: auto;
    width: 50%;
    font-family: "Montserrat", sans-serif;
    padding: 1rem;
  }
  
  .aboutMe p {
    margin-top: 0;
  }  
  
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50%;
    margin: auto;
    padding: 1rem;
    background-color: #f7f7e8;
    box-shadow: 0 10px 10px black;
  }
  
  .skills li {
  }
  
  .education p {
    font-size: 0.7rem;
    margin-top: -2px;
  }
  
  .languages {
  }
  